[include shell_command.cfg]
[include mainsail.cfg]
[include m8p/m8p-board.cfg]
[include stepper.cfg]
[include macros/macros.cfg]
[include klicky_macros/klicky-probe.cfg]
#[include display/display.cfg]

[exclude_object]

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: chamber_thermistor_pin

[heater_bed]
sensor_type: Generic 3950
sensor_pin: heater_bed_sensor1_pin
heater_pin: heater_bed_heating_pin
min_temp: 0
max_temp: 120
control: pid

pid_Kp:70.003 
pid_Ki:0.809 
pid_Kd:1514.695

[temperature_sensor Bed_integrated]
sensor_type: Generic 3950
sensor_pin: heater_bed_sensor2_pin

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 7000
max_z_velocity: 30
max_z_accel: 45
square_corner_velocity: 6.0

[fan]
pin: fan_part_cooling_pin

[fan_generic Motors]
pin: fan_bottom1_pin
tachometer_pin: fan_bottom1_tach_pin
cycle_time: 0.00004
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
hardware_pwm: True

[fan_generic Mainboard]
pin: fan_bottom2_pin
tachometer_pin: fan_bottom2_tach_pin
cycle_time: 0.00004
#   The amount of time (in seconds) for each PWM power cycle to the
#   fan. It is recommended this be 10 milliseconds or greater when
#   using software based PWM. The default is 0.010 seconds.
hardware_pwm: True

[fan_generic ZeroFilter]
pin: fan_zerofilter_pin

[heater_fan toolhead_cooling_fan]
pin: fan_toolhead_cooling_pin
fan_speed: 1
heater: extruder
heater_temp: 50.0

[extruder]
sensor_type: ATC Semitec 104GT-2
sensor_pin: e_sensor_pin
heater_pin: e_heater_pin
control: pid
max_extrude_only_distance: 200
nozzle_diameter: 0.4
min_extrude_temp: 170
min_temp: 0
max_temp: 285

pid_Kp: 25.481 
pid_Ki: 1.381 
pid_Kd: 117.530

rotation_distance: 22
gear_ratio: 50:10
full_steps_per_rotation: 200
filament_diameter: 1.750
max_extrude_only_velocity: 60
pressure_advance = 0.02
pressure_advance_smooth_time: 0.01

[bed_mesh]
speed: 75
horizontal_move_z: 12
mesh_min: 6, 21
mesh_max: 98, 100
probe_count: 5, 5
relative_reference_index: 13

[probe]
pin: bed_probe_pin
x_offset: -17.0
y_offset: 17.0
#z_offset: 3
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.

[z_tilt]
z_positions:          #Bed frame attachment points
    60, 140
    168, 14
    -48, 14
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:               #points to probe the bed (ZeroClick)
    25, 0.25
    77, 88
    118, 0.25
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 15
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 6
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0075
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[adxl345]
cs_pin: PC4 
spi_bus: spi1

[resonance_tester]
 probe_points: 60,60, 80
#   A list of X, Y, Z coordinates of points (one point per line) to test
#   resonances at. At least one point is required. Make sure that all
#   points with some safety margin in XY plane (~a few centimeters)
#   are reachable by the toolhead.
accel_chip: adxl345
#   A name of the accelerometer chip to use for measurements. If
#   adxl345 chip was defined without an explicit name, this parameter
#   can simply reference it as "accel_chip: adxl345", otherwise an
#   explicit name must be supplied as well, e.g. "accel_chip: adxl345
#   my_chip_name". Either this, or the next two parameters must be
#   set.
#accel_chip_x:
#accel_chip_y:
#   Names of the accelerometer chips to use for measurements for each
#   of the axis. Can be useful, for instance, on bed slinger printer,
#   if two separate accelerometers are mounted on the bed (for Y axis)
#   and on the toolhead (for X axis). These parameters have the same
#   format as 'accel_chip' parameter. Only 'accel_chip' or these two
#   parameters must be provided.
#max_smoothing:
#   Maximum input shaper smoothing to allow for each axis during shaper
#   auto-calibration (with 'SHAPER_CALIBRATE' command). By default no
#   maximum smoothing is specified. Refer to Measuring_Resonances guide
#   for more details on using this feature.
#min_freq: 5
#   Minimum frequency to test for resonances. The default is 5 Hz.
#max_freq: 133.33
#   Maximum frequency to test for resonances. The default is 133.33 Hz.
#accel_per_hz: 75
#   This parameter is used to determine which acceleration to use to
#   test a specific frequency: accel = accel_per_hz * freq. Higher the
#   value, the higher is the energy of the oscillations. Can be set to
#   a lower than the default value if the resonances get too strong on
#   the printer. However, lower values make measurements of
#   high-frequency resonances less precise. The default value is 75
#   (mm/sec).
#hz_per_sec: 1
#   Determines the speed of the test. When testing all frequencies in
#   range [min_freq, max_freq], each second the frequency increases by
#   hz_per_sec. Small values make the test slow, and the large values
#   will decrease the precision of the test. The default value is 1.0
#   (Hz/sec == sec^-2).

[input_shaper]
shaper_freq_x: 112.8
#   A frequency (in Hz) of the input shaper for X axis. This is
#   usually a resonance frequency of X axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for X axis.
shaper_freq_y: 91.2
#   A frequency (in Hz) of the input shaper for Y axis. This is
#   usually a resonance frequency of Y axis that the input shaper
#   should suppress. For more complex shapers, like 2- and 3-hump EI
#   input shapers, this parameter can be set from different
#   considerations. The default value is 0, which disables input
#   shaping for Y axis.
shaper_type: mzv
#   A type of the input shaper to use for both X and Y axes. Supported
#   shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei. The default
#   is mzv input shaper.
#shaper_type_x:
#shaper_type_y:
#   If shaper_type is not set, these two parameters can be used to
#   configure different input shapers for X and Y axes. The same
#   values are supported as for shaper_type parameter.
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers
#   to improve vibration suppression. Default value is 0.1 which is a
#   good all-round value for most printers. In most circumstances this
#   parameter requires no tuning and should not be changed.

[filament_motion_sensor filament_sensor]
switch_pin: PC1
pause_on_runout: True
detection_length: 10
extruder: extruder
runout_gcode: sensor_runout

[gcode_macro sensor_runout]
gcode:
    { action_respond_info("Filament Runout") }
#[neopixel leds]
#pin: neopixel_pin
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count: 20
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.


[z_calibration]

## update these variable according to the documentation here https://github.com/protoloft/klipper_z_calibration
## you then should call CALIBRATE_Z as one of the last lines on your PRINT_START to set the Z offset dinamically

#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
probe_nozzle_x: 83
probe_nozzle_y: 119
#   The X and Y coordinates (in mm) for clicking the probe's switch body
#   on the Z endstop.
probe_switch_x: 110
probe_switch_y: 103
#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
probe_bed_x: 60
probe_bed_y: 60
#   The trigger point offset of the used switch.
#   This needs to be fined out manually. For more details go to 
#   https://github.com/protoloft/klipper_z_calibration#switch-offset
#   "So, with a smaller offset value, the nozzle is more away from the 
#   bed! The value cannot be negative." 
# Lower value is further from the bed
switch_offset: 0.506
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
max_deviation: 8
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
samples: 3 #default from "probe:samples" section
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
samples_tolerance: 0.01 #default from "probe:samples_tolerance" section
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
samples_tolerance_retries: 6 #default from "probe:samples_tolerance_retries" section
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
samples_result: median #default from "probe:samples_result" section
#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
clearance: 13.5
#position_min: default from "stepper_z:position_min" section.
#   The moving speed in X and Y. The default is 50 mm/s.
speed: 225
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
lift_speed: 9 #default from "probe:lift_speed" section
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
probing_speed: 6 #default from "stepper_z:homing_speed" section.
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
probing_second_speed: 4.5 #default from "stepper_z:second_homing_speed" section.
#   Distance to back off (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
probing_retract_dist: 1 #default from "stepper_z:homing_retract_dist" section.
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
probing_first_fast: false
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.

start_gcode: Dock_Probe_Unlock
#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
before_switch_gcode: Attach_Probe
#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
end_gcode: Dock_Probe
#   A list of G-Code commands to execute after each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   detach the probe afterwards.

[servo probe_servo]
pin: PB1
#   PWM output pin controlling the servo. This parameter must be
#   provided.
maximum_servo_angle: 90
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
minimum_pulse_width: 0.0008
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
maximum_pulse_width: 0.0022
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.
initial_angle: 87
#   Initial angle (in degrees) to set the servo to. The default is to
#   not send any signal at startup.
#initial_pulse_width:
#   Initial pulse width time (in seconds) to set the servo to. (This
#   is only valid if initial_angle is not set.) The default is to not
#   send any signal at startup.

[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    M117 Z-Calibration..
    SET_GCODE_OFFSET Z=0
    BASE_CALIBRATE_Z
    M117

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 9.625
